@charset "UTF-8";

body{
    color: bisque;
}
h1 {
    color: brown;
    background-color: aqua;
    text-decoration: blue;
    
}
p{
    font-size: medium;
    color: rgb(18, 55, 124);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    background-color: aquamarine;
    color: brown;
}